<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Cadastros</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="_css/style-lista.css">
    </head>
    <body @mounted="listarDados">
        <h1>Cadastros</h1>
        <table id="tblDados" class="highlight bordered">
            <thead>
				<tr>
					<th>Endereço de e-mail</th>
					<th>Nome</th>
					<th>Sexo</th>
					<th>Curso</th>
					<th>Endereço para Correspondência: </th>
					<th>Complemento do Endereço: </th>
					<th>CEP</th>
					<th>Município</th>
					<th>UF</th>
				</tr>
            </thead>
            <tbody>
				<tr v-for="row in rows">
					<td><input type="text" v-model="row.email" class="browser-default"></td>
					<td><input type="text" v-model="row.nome" class="browser-default"></td>
					<td><input type="text" v-model="row.sexo" class="browser-default"></td>
					<td><input type="text" v-model="row.curso" class="browser-default"></td>
					<td><input type="text" v-model="row.endereco" class="browser-default"></td>
					<td><input type="text" v-model="row.complemento" class="browser-default"></td>
					<td><input type="text" v-model="row.cep" class="browser-default"></td>
					<td><input type="text" v-model="row.municipio" class="browser-default"></td>
					<td><input type="text" v-model="row.uf" class="browser-default"></td>
				</tr>
            </tbody>
        </table>
        <div class="row">
            <div class="input-field col s4">
              <a class="waves-effect waves-light btn" href="form-cadastros.html"><i class="material-icons right">mode_edit</i>Voltar ao formulário</a>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
    <script src="_js/functions-lista.js"></script>
    </body>
</html>