body{
	display: block;
    width: 880px;
    height: 400px;
    position: absolute;
    left: 100px;
}

h1#titulo{
    display: inline-block;
    position: relative;
    left: 160px;
}

form{
    display: block;
    box-shadow: 1px 1px 5px #000;
    top: -30px;
    padding-left: 20px;
    padding-top: 10px;
}

form div#uf{
    display: inline-block;
    position: absolute;
    left: 40px;
}

form button#salvar{
    display: inline-block;
    position: relative;
    left: 72px;
    top: -25px;
}